.ant-card-body::before {
    display: none !important;
}
.ant-card-body::after {
    display: none !important;
}
.ant-card-body {
    padding: 0 !important;
}

.card-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 37px;
    grid-column-gap: 36px;
    margin-top: 21px;
}
